<iframe
  src="https://www.youtube.com/embed/egkeFvm26pc?loop=1&mute=1&autoplay=1&controls=0"
  frameborder="0"
  class="w-screen h-screen aspect-auto absolute"
></iframe>

<div class="bg-white h-screen">
  <div
    class="absolute bg-gradient-to-r from-gray-800 h-screen pt-[25%] text-white px-24"
  >
    <h1 class="text-6xl font-bold mb-8">Kung Fu Panda 4</h1>
    <p class="flex-wrap w-1/4 text-lg inline-block">
      After Po is tapped to become the Spiritual Leader of the Valley of Peace,
      he needs to find and train a new Dragon Warrior, while a wicked sorceress
      plans to re-summon all the master villains whom Po has vanquished to the
      spirit realm.
    </p>
    <div class="mt-8">
      <button
        class="px-8 py-4 text-black bg-white rounded-md font-medium text-base mr-4 hover:opacity-60 transition-[1s]"
      >
        ▷ Play
      </button>

      <button
        class="px-8 py-4 text-black bg-gray-500 rounded-md font-medium text-base hover:opacity-70 transition-[1s]"
      >
        More Info
      </button>
    </div>
  </div>
</div>
