<iframe
  [src]="videoUrl | safe"
  frameborder="0"
  class="w-full h-full aspect-auto absolute"
></iframe>

<div class="bg-white h-screen">
  <div
    class="absolute bg-gradient-to-r from-gray-800 h-screen pt-[25%] text-white px-24"
  >
    <h1 class="text-6xl font-bold mb-8">{{ bannerDetail?.original_title }}</h1>
    <p class="flex-wrap w-1/4 text-lg inline-block">
      {{ bannerDetail?.overview }}
    </p>
    <div class="mt-8">
      <button
        class="px-8 py-4 text-black bg-white rounded-md font-medium text-base mr-4 hover:opacity-60 transition-[1s]"
      >
        ▷ Play
      </button>

      <button
        class="px-8 py-4 text-black bg-gray-500 rounded-md font-medium text-base hover:opacity-70 transition-[1s]"
      >
        More Info
      </button>
    </div>
  </div>
</div>
